#contact {
    width: 100%;
    margin-top: 30vh;
}

.contact__inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    .contact__title {
        position: sticky;
        top: 70px;
        left: 0;
        width: 48%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);

        @media (max-width: 800px) {
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2;
            margin-left: 10px;
        }
    }

    .contact__desc {
        margin-top: 50px;
        width: 50%;

        @media (max-width: 800px) {
            width: 100%;
        }

        .contact__item {
            margin-bottom: 5vh;
            
            a {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                color: var(--black100);
                text-decoration: underline;
                text-underline-position: under;
                transition: all 0.3s;

                .icon {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &:hover {
                    color: var(--black300);
                    transform: translateX(5px);
                }
            }
        }
    }
}