.skill__inner {
    padding: 16px;

    .skill__title {
        position: sticky;
        top: 70px;
        left: 0;
        width: 70%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        font-family: var(--mainKor-font);
        text-transform: uppercase;
        color: var(--black100);
        border-bottom: 0.4vw solid var(--black100);
        margin-bottom: 100px;
        z-index: 1000;

        @media (max-width: 800px) {
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            top: 68px;
            background-color: var(--mainBg-color);
        }

        em {
            font-size: 1.25rem;
            font-weight: 400;
            margin-left: 10px;
            color: var(--black200);
        }
    }

    .skill__wrap {
        .skill__item {
            height: 60vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: sticky;
            border-radius: 0;
            box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
            
            &.s1 { background-color: #f1f5f9; top: 180px; }
            &.s2 { background-color: #e2e8f0; top: 210px; }
            &.s3 { background-color: #cbd5e1; top: 240px; }
            &.s4 { background-color: #94a3b8; top: 270px; }
            &.s5 { background-color: #6d83a1; top: 300px; }

            .num {
                font-size: 8vw;
                font-weight: 900;
                color: rgba(3, 78, 162, 0.1);
                position: absolute;
                right: 5%;
                top: 5%;
            }

            .text {
                text-align: center;
                margin-bottom: 1.5rem;

                div {
                    font-size: 4vw;
                    font-weight: 900;
                    text-transform: uppercase;
                    line-height: 1.2;
                    color: #333;
                    
                    @media (max-width: 800px) { font-size: 32px; }
                }
            }

            .title {
                font-size: 1.5rem;
                background: #034EA2;
                color: #fff;
                padding: 5px 20px;
                border-radius: 50px;
                margin-bottom: 2rem;
            }

            .info {
                width: 90%;
                border-top: 1px solid rgba(0,0,0,0.1);
                display: flex;
                justify-content: space-around;
                padding-top: 20px;

                span {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: #666;
                }

                @media (max-width: 800px) {
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}